
@{
    ViewBag.Title = "Index";
}

<h2>Welcome To Admin Page</h2>


@using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="postedFile" />
        <input type="submit" value="Import" />
}
